@media screen and (max-width: 800px) {
    #centered {
        width:auto;
    }

}
.htitl { 
    color:#dc3545;
    margin-top:2%;
    margin-bottom:2%;
}
.ptitl {
    font-weight: 500;
    font-size: 1.3em;
    color: #dc3545;
    margin-top:5%;
}
.sidenav{
    border-right:1px solid #dc3545;
    position:relative;
    top:1%;
    height:100%;
}
.sel1{
    width:70%;
    background-color:transparent;
}
.p1{
    width:96%;
}
#priceRange{
    width:90%;
}
.p2 {
    position:relative;
    top:10%;
}
a:hover{
    text-decoration: none;
    
}
.collapseIcon{ 
    margin-top:5%;
    margin-bottom:5%;
}
.customA {
    margin-top:2%;
    border:1px solid #dc3545;
    padding:5%;
    border-radius:4px;
    color: #dc3545;
}
.customA:hover {
    color:#dc3545;
    text-decoration: none;
}
.cheader {
    width:20%;
    height:15vh;
    background-color:#ffffff;
}
.myh {
    margin-top:1%;
}
.h {
    text-indent: 20%;
}
.img{
    
    width:100%;
    height:100%;
}
.cbody {
    display:table;
    width:80%;
    position:Relative;
    left:1%;
    padding:2%;
    
}
.card{
    margin-top:5%;
    
}
.card-footer{
    height:10%;
}
.p3 {
    font-size:0.9em;
    color:black;
}
.customB{ 
    color:#dc3545;
}
.customB:hover {
    color:#dc3545;
    text-decoration:underline;
}
.customC{
    background-color:#dc3545;
    color: white;
    float:right;
    width:auto;
    border-radius: .25rem;
    padding:1.8%;
    display:inline-flex;
}
.customC:hover {
    color:#ffffff;
    text-decoration:none;
}

 .availability{
    float:left;
    display:inline-flex;
    width:auto;
 }
 .info-card {
    float: left;
    margin: 10px;
    width:100%;
	-webkit-perspective: 600px;
}

.front, .back {
	background: #FFF;
	border-radius: 10px;
	transition: -webkit-transform 1s;
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	border: 1px solid black;
}

.front {
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}

.back {
	padding: 6%;
	width: 100%;
	height: 100%;
    -webkit-transform: rotateY(-180deg);
	overflow: hidden;
}

.info-card:hover .back {
	-webkit-transform: rotateY(0);
}

.info-card:hover .front {
	-webkit-transform: rotateY(180deg);
}
.card-image {
    width: 100%;
    height: 100%;
    }
.centered {
        position: absolute;
        top:12%;
        left: 50%;
        transform: translate(-50%, -50%);
        color:#ffffff;
        background-color:rgba(0,0,0,0.4);
        width: 50%;
        padding-top:6%;
        padding-bottom:3%;
        font-size: 1.10em;
        font-family: sans-serif;
        letter-spacing: 0.7em;
        font-weight: 600;
        
    }
.price {
        font-size:0.9em;
        color:black;
        text-align:center;
       
    }
.date {
        display: inline-block;
        font-size:0.9em;
        padding-top: 1%;
        
    }
.dates { 
        text-align: center;
        
    }