.loginform {
    margin:0 auto;
    display:block;
    position:relative;
    top:50%;
    text-align:Center;
    transform: translate(0,50%);
    border: 1px solid #dc3545;
    border-radius:10px;
    
}
.login { 
    display:inline-block;
    padding:1.25rem;
    width:100%;
}
.btn {
    background-color:transparent;
    border:1px solid black;
    padding: 0.9rem;
    width: 40%;
    margin-top:1.25rem;

}
.labels { 
    float:left;
}